<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/noHeader}">

        <section layout:fragment="contents" class="contents d-flex justify-content-center">
            <div class="user-box p-5 rounded-lg mb-5">
                <input type="text" class="form-control mt-5 border-rounded" placeholder="이름" id="nameInput">

                <div class="d-flex justify-content-between mt-2">
                    <input type="text" class="form-control col-8 mr-1 border-rounded" placeholder="아이디" id="idInput">
                    <button type="button" class="btn btn-info btn-sm col-3 mr-3 border-rounded" id="duplicateBtn">중복 확인</button>
                </div>

                <div class="small text-info d-none" id="availableText">사용가능한 ID 입니다</div>
                <div class="small text-danger d-none" id="duplicateText">중복된 ID 입니다</div>

                <input type="text" class="form-control mt-5" placeholder="이메일" id="emailInput">

                <input type="password" class="form-control mt-2" placeholder="비밀번호" id="passwordInput">
                <input type="password" class="form-control mt-2" placeholder="비밀번호 확인" id="passwordConfirmInput">

                <div class="d-flex justify-content-end mr-4">
                    <button type="button" class="col-4 btn btn-secondary btn-block mt-3 mb-5" id="joinBtn">회원가입</button>
                </div>
            </div>
        </section>

    <script layout:fragment="script">
        $(function() {

            // 중복 검사 여부
            var isDuplicateCheck = false;
            // 중복 여부
            var isDuplicateId = true;

            $("#idInput").on("input", function() {

                isDuplicateId = true;
                isDuplicateCheck = false;

                $("#availableText").addClass("d-none");
                $("#duplicateText").addClass("d-none");
            });

            $("#duplicateBtn").on("click", function () {
                let id = $("#idInput").val();
                if (id === "") {
                    alert("아이디를 입력하세요");
                    return;
                }

                $.ajax({
                    type: "get"
                    , url: "/user/duplicate-id"
                    , data: {"loginId": id}
                    , success: function (response) {

                        isDuplicateCheck = true;

                        isDuplicateId = response.isDuplicate;
                        if (response.isDuplicate) {
                            $("#duplicateText").removeClass("d-none");
                            $("#availableText").addClass("d-none");

                        } else {
                            $("#availableText").removeClass("d-none");
                            $("#duplicateText").addClass("d-none");

                        }
                    }
                    , error: function () {
                        alert("중복확인 에러!!")
                    }
                });

            });

            $("#joinBtn").on("click", function () {
                let id = $("#idInput").val();
                let password = $("#passwordInput").val();
                let passwordConfirm = $("#passwordConfirmInput").val();
                let name = $("#nameInput").val();
                let email = $("#emailInput").val();

                if (id === "") {
                    alert("아이디를 입력하세요");
                    return;
                }

                // 중복 체크가 안된 경우
                if (!isDuplicateCheck) {
                    alert("중복 확인을 해주세요");
                    return;
                }

                // ID가 중복된 경우
                if (isDuplicateId) {
                    alert("아이디가 중복되었습니다!");
                    return;
                }


                if (password === "") {
                    alert("비밀번호를 입력해주세요");
                    return;
                }

                if (passwordConfirm !== password) {
                    alert("비밀번호가 일치하지 않습니다");
                    return;
                }

                if (name === "") {
                    alert("이름을 입력해주세요");
                    return;
                }

                if (email === "") {
                    alert("이메일을 입력해주세요");
                    return;
                }

                $.ajax({
                    type: "post"
                    , url: "/user/join-process"
                    , data: {"loginId":id,  "password":password, "name":name, "email":email}
                    , success: function (response) {

                        if (response.result === "success") {
                            location.href = "/user/login";
                        } else {
                            alert("회원가입 실패!!")
                        }

                    }
                    , error: function () {
                        alert("회원가입 에러!!")
                    }
                });
            });
        });
    </script>

</html>