<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/postDefault}">

<link rel="stylesheet" href="../../static/css/style2.css">
<section layout:fragment="contents" class="d-flex justify-content-center">
    <!-- 전체 layout -->
    <div class="main-contents">
        <!-- 입력 상자 -->
        <div class="input-box border rounded">
            <textarea rows="4" cols="80" class="form-control border-0" id="contentsInput"></textarea>
            <div class="d-flex justify-content-between p-2">
                <input type="file" id="fileInput" class="d-none">
                <i class="bi bi-image img-icon" id="imageBtn"></i>
                <button type="button" class="btn btn-info btn-sm" id="uploadBtn">입력</button>
            </div>

        </div>
        <!-- /입력 상자 -->

        <!-- 타임라인 -->
        <div class="timeline my-4">
            <!-- 카드 -->
            <div class="card my-3" th:each="post:${postList}">
                <div class="d-flex justify-content-between p-2">
                    <div th:text="${post.loginId}">Water</div>
                    <!--data-toggle="modal" data-target="#moreModal -->
                    <i class="bi bi-three-dots-vertical more-btn" th:data-post-id="${post.id}"></i>

                </div>
                <div>
                    <img class="w-100" th:src="${post.imagePath}" src="https://cdn.pixabay.com/photo/2025/03/06/08/25/blueberries-9450130_1280.jpg">
                </div>
                <div class="p-2">
                    <i th:if="${post.isLike}" class="bi bi-heart-fill text-danger unlike-btn" th:data-post-id="${post.id}"></i>
                    <i th:unless="${post.isLike}" class="bi bi-heart text-danger like-btn" th:data-post-id="${post.id}"></i>

                    <span>좋아요 <span>11</span>개</span>
                </div>

                <div class="p-2">
                    <b th:text="${post.loginId}">bounce</b> <span th:text="${post.contents}">반가워!</span>
<!--                    <b>bounce</b> <span th:text="${post.contents}">반가워!</span>-->
                </div>
                <!-- 댓글 목록 -->
                <div class="comment-box">
                    <div class="pl-2">댓글</div>
                    <div class="p-2">
                        <div th:each="comment : ${post.commentList}">
<!--                            <p th:text="${comment}"></p>-->

<!--                            <b th:text="${comment.userId}">작성자 아이디</b>-->
                            <b th:text="${comment.loginId}">작성자 아이디</b>
                            <span th:text="${comment.contents}">댓글 내용</span>
<!--                            <b>watergram</b> <span th:text="${comment.contents}">우하하하하</span>-->
                        </div>

                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="input-group">
                            <input type="text" class="form-control" th:id="|commentInput${post.id}|">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info comment-btn" th:data-post-id="${post.id}">게시</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /카드 -->
            <div id="addCard"></div>

        </div>
        <!-- /타임라인 -->


    </div>
    <!-- /전체 layout -->

<!--    &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#moreModal">-->
<!--        Launch demo modal-->
<!--    </button>-->


    <div class="modal fade" id="moreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <a href="#" id="removeBtn">삭제하기</a>
                </div>

            </div>
        </div>
    </div>


</section>

<script layout:fragment="script">

    $(".more-btn").on("click", function() {

        let postId = $(this).data("post-id");

        $("#removeBtn").data("post-id", postId);

    });

    $("#removeBtn").on("click", function() {
        let postId = $(this).data("post-id");

        e.preventDefault();

        $.ajax({
            type:"delete"
            , url:"/post/remove"
            , data:{"id":postId}
            , success:function(response) {
                if(response.result === "success") {
                    location.reload();
                } else {
                    alert("삭제 실패!!");
                }
            }
            , error:function() {
                alert("삭제 에러!!");
            }
        })
    });

    $(".comment-btn").on("click", function() {
       let postId = $(this).data("post-id");

       let comment = $("#commentInput" + postId).val();

       // 댓글 작성
       $.ajax({
           type:"post"
           , url:"/post/comment/write"
           , data:{"postId":postId, "contents":comment}
           // contents 필수 파라미터가 응답하지 않는 상태 (댓글 작성 에러!)
           // 400 에러, 문법 에러일 확률 매우 높음
           // postId, comment는 제대로 정의 됨
           // userId 란이 비어있어서 생기는 오류로 추정, long타입 자리에 String이 들어가면서 오류 발생

           , success:function(response) {
               if(response.result === "success") {
                    location.reload();
               } else {
                   alert("댓글 작성 실패!")
               }
           }
           , error:function() {
               alert("댓글 작성 에러!!")
           }
       })
    });

    $(".unlike-btn").on("click", function() {
        let postId = $(this).data("post-id");

        $.ajax({
            type:"delete"
            , url:"/post/unlike"
            , data:{"postId":postId}
            , success:function(response) {
                if(response.result === "success") {
                    location.reload();
                } else {
                    alert("좋아요 취소 실패!!");
                }
            }
            , error:function() {
                alert("좋아요 취소 에러!!");
            }
        })

    });

    $("#like-btn").on("click", function() {

        let postId = $(this).data("post-id");

        $.ajax({
            type:"post"
            , url:"/post/like"
            , data:{"postId":postId}
            , success:function(response) {
                if(response.result === "success") {
                    location.reload();
                } else {
                    alert("좋아요 실패!!");
                }
            }
            , fail:function() {
                alert("좋아요 에러!!");
            }
        })

    })

    $("#imageBtn").on("click", function() {
        $("#fileInput").click();
    })

    $("#uploadBtn").on("click", function() {
        let contents = $("#contentsInput").val();

        let file = $("#fileInput")[0].files[0];

        // 텍스트에 대한 유효성 검사
        if(contents === "") {
            alert("내용을 입력해주세요");
            return ;
        }

        // 이미지 파일에 대한 유효성 검사
        // if (file == null) {
        //     alert("업로드한 파일이 없습니다.");
        //     return ;
        // }

        let formData = new FormData();
        // contents, file 데이터를 통합해서 사용하겠다
        // alert(contents)

        formData.append("contents", contents);

        if(file) {
            formData.append("imageFile", file);
        } else {

        }

        $.ajax({
            type:"post"
            , url:"/post/write"
            , data:formData // RestController @RequestParam 변수와 알맞는지 확인해볼것!
            , processData:false
            , contentType:false
            , success:function(response) {
                if(response.result === "success") {
                    location.reload();
                } else {
                    alert("글 작성 실패!");
                }

            }
            , error:function() {
                alert("글 작성 에러");
            }
        });


    });


</script>
</html>