<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/NoHeader}">

<section layout:fragment="contents" class="contents d-flex justify-content-center">
    <div class="user-box p-5 rounded-lg mb-5">
        <form id="loginForm">
            <input type="text" class="form-control mt-3 text-center" placeholder="아이디/이메일" id="idInput">
            <input type="password" class="form-control mt-2 text-center" placeholder="비밀번호" id="passwordInput">
            <button type="submit" class="btn btn-secondary btn-block mt-3 mb-5" id="loginBtn">로그인</button>
        </form>
        <div class="text-center">
            <a href="#" class="small text-info">비밀번호를 잊으셨나요?</a>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <div class="small">만약 계정이 없으시다면?</div> <br>
            <a href="/user/join">신규 계정 만들기</a>
        </div>
    </div>
</section>

    <script layout:fragment="script">
        $("#loginForm").on("submit", function(e) {

            // form 태그 submit 이벤트가 가지는 요청 기능을 취소
            // 해당 이벤트에 포함된 모든 기능 취소
            e.preventDefault();

            let id = $("#idInput").val();
            let password = $("#passwordInput").val();

            if(id === "") {
                alert("아이디를 입력해주세요");
                return ;
            }

            if(password === "") {
                alert("비밀번호를 입력해주세요");
                return ;
            }

            $.ajax({
                type:"post"
                , url:"/user/login-process"
                , data:{"loginId":id, "password":password}
                , success:function(response) {
                    if(response.result === "success") {
                        location.href = "/post/timeline";
                    } else {
                        alert("아이디와 비밀번호를 확인해주세요")
                    }
                }
                , error:function() {
                    alert("로그인 에러!")
                }
            });
        });

        $("#loginBtn").on("click", function() {

        });
    </script>

</html>