#wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color:#dddddd;
}

.contents > .user-box {
    width: 400px;
    background-color:#dddddd;
}

.main-contents {
    margin: 1px;
}

.love-image {
    font-size: 30px;
}

footer {
    height: 50px;
    background-color:#dddddd;
}